{{> nav/nav-block}}
{{!-- <div class="order-background">
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h4>Examples belong to this user:</h4>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="order/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

</div> --}}
<body class="background html">
    <main class="container">
        <h1>Order</h1>
        <section class="row">
          <div class="col-ms-4 padding">
              <div class="card">
                <a href="#">
                    <img src="../public\assets/images/cappucino.png" class="card-img-top img-size" alt="Image unavailable">
                  </a>
                <div class="card-body">
                  <p class="card-title">Cappucino $1</p>
                </div>
              </div>
              <div style="clear:both"></div>
          </div>
          <div class="col-ms-4 padding">
            <div class="card">
              <a href="#">
                  <img src="../public\assets/images/coffee.png" class="card-img-top img-size" alt="Image unavailable">
                </a>
              <div class="card-body">
                <p class="card-title">Coffee $1</p>
              </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="col-ms-4 padding">
            <div class="card">
              <a href="#">
                  <img src="../public\assets/images/espresso.png" class="card-img-top img-size" alt="Image unavailable">
                </a>
              <div class="card-body">
                <p class="card-title">Espresso $4</p>
              </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="col-ms-4 padding">
            <div class="card">
              <a href="#">
                  <img src="../public\assets/images/hotcocoa.png" class="card-img-top img-size" alt="Image unavailable">
                </a>
              <div class="card-body">
                <p class="card-title">Hot Cocoa $3</p>
              </div>
            </div>
            <div style="clear:both"></div>
        </div>
        </section>
        <section class="row">
            <div class="col-ms-4 padding">
                <div class="card">
                  <a href="#">
                      <img src="../public\assets/images/latte.png" class="card-img-top img-size" alt="Image unavailable">
                    </a>
                  <div class="card-body">
                    <p class="card-title">latte $4</p>
                  </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="col-ms-4 padding">
              <div class="card">
                <a href="#">
                    <img src="../public\assets/images/macchiato.png" class="card-img-top img-size" alt="Image unavailable">
                  </a>
                <div class="card-body">
                  <p class="card-title">macchiato $4</p>
                </div>
              </div>
              <div style="clear:both"></div>
          </div>
          <div class="col-ms-4 padding">
              <div class="card">
                <a href="#">
                    <img src="../public\assets/images/americano.png" class="card-img-top img-size" alt="Image unavailable">
                  </a>
                <div class="card-body">
                  <p class="card-title">americano $4</p>
                </div>
              </div>
              <div style="clear:both"></div>
          </div>
          <div class="col-ms-4 padding">
              <div class="card">
                <a href="#">
                    <img src="../public\assets/images/vanillaspice.png" class="card-img-top img-size" alt="Image unavailable">
                  </a>
                <div class="card-body">
                  <p class="card-title">Vanilla Spice $4</p>
                </div>
              </div>
              <div style="clear:both"></div>
          </div>
          </section>
      </main>

</body>

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
