{{> nav/nav-block}}

<body class="background">

  <main class="container text-center align-items-center m-auto">
      <h1>Menu</h1>
      <hr class="my-4">
      {{!-- Menu Item Cards --}}
      <section class="row m-auto">
         
          {{#each drinks}} 
            <div class="col-ms-4 menu">
                <div class="card drink-card" data-id="{{this.id}}" data-name="{{this.name}}" data-price="{{this.basePrice}}">
                  <a href="#">
                      <img src="{{this.img}}" class="card-img-top img-size" alt="Image of {{this.name}}">
                  </a>
                  <div class="card-body">
                    <p class="card-title"><span class="drink-name">{{this.name}}</span><span class="drink-price">${{this.basePrice}}</span></p>
                  </div>
                  <div class="overlay"><p>{{this.description}}</p></div>
                </div>
            </div>
          {{/each}}



      </section>
  </main>

  <div class="order-panel">
    
  </div>

</body>

{{> modal/login-block}}
{{> modal/drink-options}}

<script>
  var userId = {{userInfo.id}};
</script>
