{{> nav/nav-block}}
{{!-- <div class="order-background">
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <h4>Examples belong to this user:</h4>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="order/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

</div> --}}
<body class="background">

  <main class="container text-center mr-auto p-2">
      <h1>Menu</h1>
      {{!-- Menu Item Cards --}}
      <section class="row">
         
          <div class="col-ms-4 padding">
              <div class="card drink-card">
                <a href="#">
                    <img src="assets/images/cappucino.png" class="card-img-top img-size" alt="Image of a cappuccino">
                </a>
                <div class="card-body">
                  <p class="card-title">Cappuccino $4.00</p>
                </div>
                <div class="overlay"><p>coffee made with milk that has been frothed up with pressurized steam</p></div>
              </div>
           </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/coffee.png" class="card-img-top img-size" alt="Image of a cup of coffee">
                </a>
              <div class="card-body">
                <p class="card-title">Brewed Coffee $2.50</p>
              </div>
              <div class="overlay"><p>batch brewed coffee made daily</p></div>
            </div>
          </div>
          
          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/espresso.png" class="card-img-top img-size" alt="Image of espresso">
                </a>
              <div class="card-body">
                <p class="card-title">Espresso $2.00</p>
              </div>
              <div class="overlay"><p>your choice of Piedmont Blend or our Rotating Feature</p></div>
            </div>
          </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/hotcocoa.png" class="card-img-top img-size" alt="Image of hot cocoa">
                </a>
              <div class="card-body">
                <p class="card-title">Hot Cocoa $3.00</p>
              </div>
              <div class="overlay"><p>Ghirardelli chocolate with steamed Homeland Creamery milk!</p></div>
            </div>
          </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/latte.png" class="card-img-top img-size" alt="Image of a latte">
                </a>
              <div class="card-body">
                <p class="card-title">Latte $4.00</p>
              </div>
              <div class="overlay"><p>made with espresso and hot steamed milk, milkier than a cappuccino</p></div>
            </div>
          </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/macchiato.png" class="card-img-top img-size" alt="Image of a milky macchiato">
              </a>
              <div class="card-body">
                <p class="card-title">Macchiato $4.00</p>
              </div>
              <div class="overlay"><p>espresso with a dash of frothy steamed milk</p></div>
            </div>
          </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/americano.png" class="card-img-top img-size" alt="Image of americano with cream">
              </a>
              <div class="card-body">
                <p class="card-title">Americano $3.00</p>
              </div>
              <div class="overlay"><p>a drink of espresso diluted with hot water.</p></div>
            </div>
          </div>

          <div class="col-ms-4 padding">
            <div class="card drink-card">
              <a href="#">
                  <img src="assets/images/vanillaspice.png" class="card-img-top img-size" alt="Image of an iced vanilla spice">
              </a>
              <div class="card-body">
                <p class="card-title">Vanilla Spice $3.00</p>
              </div>
              <div class="overlay"><p>Limited Time Only while supplies last!</p></div>
            </div>
          </div>

      </section>
  </main>

</body>

<script src="/assets/js/example.js"></script>

{{> modal/login-block}}
{{> modal/drink-options}}

<script>
  var userId = {{userInfo.id}};
</script>
